body {
background-color: IndianRed;
font-size: 20px;
}

h1{
font-size: 40px;
color: White;
font-family:sans-serif;
text-align: center;
text-decoration: overline;
letter-spacing: 3px;
text-shadow: 3px 2px black

}


h3{
font-size: 30px;
color: White;
font-family:sans-serif;
text-align: center;
letter-spacing: 3px;
text-shadow: 3px 2px black

}

p{
  font-size: 20px;
  color: White;
  font-family:sans-serif;
  text-align: center;
}


blockquote{
  text-align: center;
  color: IndianRed;
  font-family: sans-serif;
  font-size: 30px;
  border: 2px solid White;
  background-color: White;

}
